@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Nabla: 'Nabla', cursive;
    --Bitter: 'Bitter', serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../images-site/background.png');
    background-position: center center;
    background-size: cover;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 550px;
    /*668*/
    margin: 0 auto;
}

.card {
    position: relative;
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: transform .5s ease-in-out;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #813965;
    border-radius: 5px;
    transition: all .5s ease;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url('../images/back.png');
    transform: rotateY(0deg);
}

.reveal-card {
    transform: perspective(1000px) rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}

/*Placar*/

.gameName {
    font-family: var(--Nabla);
    font-size: 1.4em;
    text-align: center;
}

.score-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 600px;
    width: 100%;
    background-color: #fe81bbdd;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.200);
}

.playerInformations,
.countdown,
.howMuchClicks {
    display: flex;
    align-items: center;
    gap: 5px;
    font: 600 1.4em var(--Bitter);
}

.playerName,
.count,
.clicks {
    font: 400 1em arial;
}

/*Window*/

.window-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.700);
    padding: 10px;
    z-index: 2;
    top: 0;
    left: 0;
}

.window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: #7DCEEC;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.congratulation p {
    font-size: 1.2em;
}

.buttons .tryAgain {
    font: 400 1.4em var(--Bitter);
    background-color: crimson;
    padding: 5px 20px;
    height: 60px;
    border-radius: 10px;
}

.buttons .tryAgain:hover {
    background-color: rgba(220, 20, 60, 0.5);
    transform: scale(1.05);
}

.informationMatch {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.bestTry,
.lastTry {
    background-color: rgba(39, 8, 68, 0.089);
    padding: 10px;
    width: 100%;
}

@media (max-width: 450px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        max-width: 420px;
    }

    .buttons .tryAgain {
        font-size: 1em;
    }
}